@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body {
  height: 100%;
  width: 100%;
  font-family: 'Kavivanar';
  font-size: 1rem;
  color: black;
}



.navbar {
padding: .5rem;
margin-top: 4px;
}

.navbar-nav li {
  padding-right:  25px;
  
}

.navbar-nav li:hover {
  border: 0.5px solid #d9b310; 
 
}

.nav-link {
   font-size: 1.5em; 
  
}

.btn-link:hover{
  
  border: 2px solid #d9b310;
}

.jumbotron {
 padding: 1rem;
 border-radius: 0;
}

.padding{
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {

  border-top: 2px solid crimson;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #1d2731;
  border: 1px solid #d9b310;
}

.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #d9b310;
}

.social a {
  font-size: 4em;
  padding: 1.5rem;
}

.fa-facebook {
 color: #3b5998;
}
.fa-twitter{
color: #00aced;
}

.fa-google-plus-g{
color: #dd4b39;
}

.fa-instagram{
color: #517fa4;
}

.fa-youtube{
color: #bb0000;
}

.fa-github{
color:#2b3137;
}

.fa-linkedin-in{
color:#0077B5;

}


.fa-instagram:hover,
.fa-twitter:hover,
.fa-facebook:hover,
.fa-google-plus-g:hover,
.fa-linkedin-in:hover,
.fa-github:hover,
.fa-youtube:hover{
  color: #d5d5d5
}

footer {

  background-color: #1d2731;
  color:#d9b310;
  padding-top: 2rem;
  /* padding-bottom: 1rem; */
  width:100%;
  /* height: 100%; */
  /* margin-top: 20%; */
  text-align: center;
}

hr.light {
  border-top: 1px solid crimson;
}


/*---Media Queries --*/
@media (max-width: 992px) {
.social a {
  font-size: 4em;
  padding: 2rem;
}

  }
@media (max-width: 768px) {
 .display-4 {
   font-size: 200%;
 }
 .social a {
  font-size: 2.5em;
  padding: 1.2rem;
}
}
@media (max-width: 576px) {
  .display-4 {
    font-size: 160%;
    text-align: center;
  }
  .social a {
   font-size: 2em;
   padding: .7rem;
 }
}

.btn-outline-secondary{

  background-color:#1d2731;
  color: white;
}

.btn-outline-secondary:hover{
  
  border: 2px solid #d9b310;
}

.card-text{
color: black;
}

.card-title{
color: black;
}


/* Contact Form Styling*/

@import url("https://fonts.googleapis.com/css?family=Kavivanar");
 
* {
  margin: 0;
  padding: 0;
  user-select: none;
}
 
body {
  font-family:"Kavivanar";
  background:  #0b3cbd;
  color: white;
}
 
.wrapper {
  margin: 100px auto 0;
  width: 100%;
  max-width: 680px;
  padding: 20px;
  box-sizing: border-box;
}
 
/* content */
.content {
  text-align: center;
}
 
.content h1 {
  letter-spacing: 1px;
}
 
 
/* form */
.form {
  width: 100%;
  margin: 25px 0;
}
 
.top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}
 
.form input[type="text"],
.form textarea {
  border: 2px solid #fff;
  padding: 15px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
 
.form input:focus,
.form textarea:focus {
  border-color: blue;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(4, 13, 131, 0.013),
    0 0 8px rgba(31, 0, 143, 0.5);
}
 
.form .label {
  margin-bottom: 6px;
  text-transform: capitalize;
}
 
/* top-contact */
.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}
 
.top-form .inner-form:last-child {
  margin-right: 0;
}
 
 
/* middle-form */
.middle-form {
  clear: both;
}
 
/* bottom-form */
.bottom-form textarea {
  height: 150px;
}
 
.btn1 {
  background: black;
  width: 200px;
  padding: 10px 0;
  border-radius: 2px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;
}

.btn1:hover{
  
  border: 2px solid #d9b310;
}
 
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Kavivanar", cursive;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Kavivanar", cursive;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Kavivanar", cursive;
}
 
@media screen and (max-width: 460px) {
  .wrapper {
    margin: 25px auto 0;
  }
  .top-form .inner-form {
    width: 100%;
    margin: 5px 0;
  }
  .top-form,
  .middle-form,
  .bottom-form {
    margin: 5px 0;
  }
  .form {
    margin-top: 10px;
  }
  .form input[type="text"],
  .form textarea {
     width: 100%;
     box-sizing: border-box;
  }
}









